In [1]:
def func(num):
  if(num==5):
    return 5
  else:
    print(num)
    return func(num+1)
func(1)

1
2
3
4

5

Fibanocci Numbers

In [2]:

def fib(n):
  if n<2:
    return n
  else:
    return fib(n-1)+fib(n-2)

fib(7)

13

BinarySearch

In [3]:
def binarySearch(arr,target,start,end):
    mid = (start+end)//2
    if start>end:
      return -1
    if(arr[mid]==target):
      return mid
    elif arr[mid]<target:
      return binarySearch(arr,target,mid+1,end)
    else:
      return binarySearch(arr,target,start,mid-1)
arr=[1,2,3,4,5,6,7,10,11]
print(binarySearch(arr,100,0,(len(arr)-1)))

-1

Factroial of a number

In [4]:
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)
factorial(5)

120

Sum of Digits

In [7]:
def sum_of_digit(n):
  if n==0:
    return 0
  else:
    return n%10+sum_of_digit(n//10)
sum_of_digit(1342)

10

Product of Digits

In [9]:
def product_of_digits(n):
  if n==0:
    return 1
  return n%10*product_of_digits(n//10)
product_of_digits(1342)

24

Reverse a number

In [25]:
def reverse_num(n):
  if n<10:
    return n
  length = len(str(n))-1
  return (n%10)*(10**length)+reverse_num(n//10)
reverse_num(6789)

9876

Palindrome

In [34]:
def palindrome(start,end,word):
  if(start>=end):
    return True
  if word[start]!=word[end]:
    return False
  return palindrome(start+1,end-1,word)
palindrome(0,len("madam")-1,"madam")

True

Count number of zeroes in a number

In [44]:
def count(num):
  count_zeroes = 0
  if num%10==0:
    count_zeroes+=1
  if num//10==0:
    return count_zeroes
  return count_zeroes+count(num//10)
count(100203)

3